@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --slate-900: hsl(218,44%,22%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-300: hsl(212, 45%, 89%);
    --white-color: hsl(0, 0%, 100%);

    --font-family: Outfit;
    --font-size-title: 1.375rem;
    --font-size-text: 0.938;

    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-family);
}

body {
    height: 100vh;
    display: flex;

    background: var(--slate-300);
}

img {
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
}

.cards-container {
    display: grid;
    margin: 0 1.719rem;

}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);

    padding: var(--spacing-200) var(--spacing-200) var(--spacing-500) var(--spacing-200);

    background: var(--white-color);
    border-radius: 20px;

    & .qr {
        display: flex;
    }

    & img {
        border-radius: 10px;
    }

    & .title {
        color: var(--slate-900);
        margin-bottom: var(--spacing-200);
        line-height: 120%;
        letter-spacing: 0px;
        text-align: center;
    }

    & .description {
        color: var(--slate-500);
        line-height: 140%;
        letter-spacing: 0.2px;
        text-align: center;
    }
}

@media (min-width: 375px) {
    .cards-container {
        margin: 0 auto;
    }
    .card {
        max-width: 320px;
    }
}